extends ../layouts/layout

block content
  h2= title
  p Para adicionar recursos, faça upload de um SIP em <a href="/admin/resources/import">Importar SIP</a>.
  ul
    each r in resources
      li
        | #{r.filename} — público? #{r.public}
        form(data-ajax, method="post", action=`http://localhost:3001/api/admin/resources/${r._id}`, style="display:inline")
          input(type="hidden", name="_method", value="DELETE")
          button(type="submit") 🗑️
        form(method="post", action=`http://localhost:3001/api/admin/resources/${r._id}/export`, style="display:inline")
          button(type="submit") 📦 Exportar
        form(data-ajax, method="post", action=`http://localhost:3001/api/admin/resources/${r._id}/public`, style="display:inline")
          input(type="hidden", name="_method", value="PATCH")
          button(type="submit") Tornar #{r.public ? 'Privado' : 'Público'}
