extends ../layouts/layout

block content
  h2= title
  form(method="post", action="http://localhost:3001/api/admin/users", data-ajax, data-redirect="/admin/users")
    div
      label Username
      input(type="text", name="username", value=user.username || '')
    div
      label Email
      input(type="email", name="email", value=user.email || '')
    div
      label Password
      input(type="password", name="password")
    div
      label Role
      select(name="role")
        option(value="user", selected=user.role=='user') user
        option(value="admin", selected=user.role=='admin') admin
    button(type="submit") Guardar
